.cityView{
    width: 30%;
    margin-right: 5em;
    margin-bottom: 5em;
}

.cityView>p{
}

form>input{
    margin-bottom: 1.5em;
}

.cityDescription{
    border-radius: 2em;
    margin-bottom: 1em;
    min-height: 12em;
    min-width: 20em;
    max-width: 20em;
    background: #FFFF56;
    border: solid 2px black;
    text-align: justify;
    word-wrap: break-word;
}

