body{
    position: center;
}

.verticalContainer{
    margin: 0;
    max-width: unset;
    display: flex;
    flex-direction: column;
    height: inherit;
    align-items: center;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(82,82,82,1) 0%, rgba(69,102,142,1) 0%, rgba(61,114,180,1) 100%);
    padding-bottom: 1.5em;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form>input{
    margin-bottom: 1em;
}

form+a{
    margin-top: 0.5em;
}

.underline-header{
    margin-top: 3em;
    border-bottom: solid 5px black;
    width: 90%;
    margin-bottom: 3em;
}

.underline-header>h1{
    font-size: 90px;
}

@media only screen and (max-width: 1080px){
    body {
        font-size: 30px;

    }
    .container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .buttons{
        width: 80%;
    }


    .logo > img {
        width: 10em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 28px;
    }
    .container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .buttons{
        width: 80%;
    }


    .logo > img {
        width: 10em;
    }
}

@media screen and (max-device-width: 600px) {
    body {
        font-size: 55px;
    }
    .container {
        flex-direction: column;
    }

    .buttons{
        width: 80%;
    }

    .logo > img {
        width: 10em;
    }
}


