body{
    position: center;
}

form{
    display: flex;
    flex-direction: column;
    width: 50%;
}

form>input{
    margin-bottom: 1em;
}

form+a{
    margin-top: 0.5em;
}

.underline-header{
    margin-top: 3em;
    border-bottom: solid 5px black;
    width: 90%;
    margin-bottom: 3em;
}

.underline-header>h1{
    font-size: 90px;
}

@media only screen and (max-width: 1080px){
    body {
        font-size: 30px;

    }
    .container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .buttons{
        width: 80%;
    }


    .logo > img {
        width: 10em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 28px;
    }
    .container {
        flex-direction: column;
        overflow-y: scroll;
    }

    .buttons{
        width: 80%;
    }


    .logo > img {
        width: 10em;
    }
}

@media screen and (max-device-width: 600px) {
    body {
        font-size: 55px;
    }
    .container {
        flex-direction: column;
        -webkit-overflow-scrolling: touch;
    }

    .buttons{
        width: 80%;
    }

    .logo > img {
        width: 10em;
    }
}


